<script src="https://giscus.app/client.js"
        data-repo="curryrasul/curryrasul.github.io"
        data-repo-id="R_kgDOHEYz5w"
        data-category="General"
        data-category-id="DIC_kwDOHEYz584CXgMS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="https://curryrasul.com/giscus_light.css"
        crossorigin="anonymous"
        async>
</script>